.nav{
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}
.nav-box{
    width: 1190px;
    margin:0px auto;
    text-align: right;
}
.nav-box ul li{
    /* list-style: none; */
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    position: relative;
}
.nav-box ul li a{
    color: #999999;
    text-decoration: none;
}
.nav-box ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    background-color: #cccccc;
    position: absolute;
    top:8px;
    right: 0px; 
    display: block;
}
.nav-box ul li a:hover{
    color: #f00;
}
.header-box{
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    
}
.header{
    width: 1190px;
    display: flex;
    margin:0 auto;
    height: 140px;
}
.header .logo-box{
    margin-top: 10px;
    height: 120px;
    width: 190px;
    overflow: hidden;
}
.header .search-box{
    margin-top: 10px;
    width: 790px;
    padding:0 10px;
}
.header .search-box .search-bar{
    display: flex;
    padding: 10px 0 0 50px;
}

.search-bar input{
    width: 500px;
    height: 30px;
    border: 2px solid #e1251b;
    outline: none;
    padding: 2px 10px;
}
.search-bar .search-btn{
    width: 50px;
    height: 38px;
    border: 2px solid #e1251b;
    background-color: #e1251b;
    cursor: pointer;
}
.search-bar .icon-search{
    font-size: 26px;
    color: #ffffff;
    font-weight: bolder;
}
.search-bar .cart-btn{
    width: 100px;
    height: 38px;
    margin-left: 20px;
    border: 1px solid #ddd;
    line-height: 38px;
    text-align: center;
    color: #e1251b;
    cursor: pointer;
    background-color: #ffffff;
}
.search-bar .gouwuche-cart{
    font-weight: bolder;
    padding:0 3px;
}
.recommend{
    font-size: 12px;
    padding: 5px 0 30px 50px;
}
.recommend li a{
    color: #999999;
}
.search-box ul li{
    display: inline-block;
    padding: 0 10px;
}
.search-box ul li a{
    text-decoration: none;
}
.search-nav li a{
    color: #333333;
    font-size: 16px;
    /* font-weight: bold; */
}
.search-box ul li a:hover{
    color: #f00;
}
.wrapper{
    width: 1190px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
.wrapper .menu-box{
    width: 190px;
    background-color: #ffffff;
    padding:10px 0;
    position: relative;
    margin-right: 10px;
}
.menu-box ul li{
    height: 25px;
    line-height: 25px;
    padding-left: 18px;
    overflow: hidden;
}
.menu-box ul li:hover{
    background-color: #d9d9d9;
}
.menu-box ul li a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.menu-box ul li span{
    color: #999999;
}
.menu-box .sub-menu{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 190px;
    background-color: #ffffff;
    width: 1000px;
    padding: 20px;
    font-size: 12px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}
.menu-title .item{
    background-color: #333;
    display: inline-block;
    padding: 0 8px;
    margin: 0 10px 0 0;
    color: #ffffff;
}
.menu-title .item:hover{
    background-color: #e1251b;
}
.sub-menu .left-box{
    float: left;
    max-width: 700px;
}
.menu-title{
    margin: 0 0 10 0px;
}
.menu-box ul li a:hover{
    backgroud-color: #e1251b;
}
.left-box dl{
    display: flex;
    padding-top: 10px;
}
.left-box dt{
    font-weight: bold;
    width: 60px;
    text-align: right;
    flex-shrink: 0;
}
.left-box dd a{
    padding: 4px 8px;
    white-space: nowrap;
    font-size: 12px;
}
.sub-menu .right-box{
    float: right;
    width: 168px;
}
.right-box .pic-box{
    padding: 0 0 10px 0;
}
.right-box .pic-box:last-child{
    padding: 0;
}
.menu-box .sub-menu{
    display: none;
}
.menu-box ul li:hover .sub-menu{
    display: block;
}
.slider-box .slider{
    width: 590px;
    height: 470px;
    background-color: #e1251b;
    margin-right: 10px;
}
.wrapper .ad-box{
    width: 190px;
    height: 470px;
    margin-right: 10px;
    background-color:#333;
}
.wrapper .info-box{
    width: 190px;
    height: 470px;
    background-color:#333;
}